<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--CONEXION DE NOE-->
	 <connectionStrings>
    <add name="DBPROYECTO" connectionString="Data Source = MARTINEZN-LT; Initial Catalog = PROYECTODISISTEMAS; User ID = sa ; Password = Tegra2021"
      providerName="System.Data.SqlClient" />
	</connectionStrings>	
	<!--CONEXION DE NOE-->
	<!--CONEXION DE WILMER-->
	<connectionStrings>
		<add name="DBPROYECTO" connectionString="Data Source = DESKTOP-6NKETIL; Initial Catalog = PROYECTODISISTEMAS; User ID = Proyecto ; Password = Computadora.25"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--CONEXION DE WILMER-->
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>